$icon-document-landscape: "\e900";
$icon-remove-user: "\e901";
$icon-warning: "\e902";
$icon-chevron-down: "\e903";
$icon-chevron-left: "\e904";
$icon-chevron-right: "\e905";
$icon-chevron-small-down: "\e906";
$icon-chevron-small-left: "\e907";
$icon-chevron-small-right: "\e908";
$icon-chevron-small-up: "\e909";
$icon-chevron-thin-down: "\e90a";
$icon-chevron-thin-left: "\e90b";
$icon-chevron-thin-right: "\e90c";
$icon-chevron-thin-up: "\e90d";
$icon-chevron-up: "\e90e";
$icon-chevron-with-circle-down: "\e90f";
$icon-cloud: "\e910";
$icon-dot-single: "\e911";
$icon-dots-three-horizontal: "\e912";
$icon-dots-three-vertical: "\e913";
$icon-download: "\e960";
$icon-install: "\e914";
$icon-resize-100: "\e915";
$icon-resize-full-screen: "\e916";
$icon-save: "\e961";
$icon-trash: "\e962";
$icon-triangle-down: "\e917";
$icon-triangle-left: "\e918";
$icon-triangle-right: "\e919";
$icon-triangle-up: "\e91a";
$icon-box: "\e91b";
$icon-circle-with-cross: "\e91c";
$icon-circle-with-minus: "\e91d";
$icon-circle-with-plus: "\e91e";
$icon-circle: "\e91f";
$icon-circular-graph: "\e920";
$icon-clapperboard: "\e963";
$icon-cog: "\e921";
$icon-colours: "\e922";
$icon-credit-card: "\e923";
$icon-cross: "\e924";
$icon-emoji-happy: "\e925";
$icon-emoji-neutral: "\e926";
$icon-emoji-sad: "\e927";
$icon-eye: "\e928";
$icon-flag: "\e929";
$icon-grid: "\e92a";
$icon-hair-cross: "\e92b";
$icon-heart-outlined: "\e92c";
$icon-heart: "\e92d";
$icon-help-with-circle: "\e92e";
$icon-home: "\e92f";
$icon-image: "\e930";
$icon-images: "\e931";
$icon-info-with-circle: "\e932";
$icon-info: "\e933";
$icon-laptop: "\e934";
$icon-lifebuoy: "\e935";
$icon-light-bulb: "\e936";
$icon-link: "\e937";
$icon-list: "\e938";
$icon-mail: "\e939";
$icon-megaphone: "\e93a";
$icon-minus: "\e93b";
$icon-mobile: "\e93c";
$icon-new-message: "\e93d";
$icon-plus: "\e93e";
$icon-print: "\e93f";
$icon-progress-empty: "\e940";
$icon-progress-full: "\e941";
$icon-progress-one: "\e942";
$icon-progress-two: "\e943";
$icon-retweet: "\e964";
$icon-share: "\e944";
$icon-star-outlined: "\e945";
$icon-star: "\e946";
$icon-tablet: "\e947";
$icon-thumbs-down: "\e948";
$icon-thumbs-up: "\e949";
$icon-user: "\e94a";
$icon-users: "\e94b";
$icon-v-card: "\e94c";
$icon-video: "\e94d";
$icon-vinyl: "\e94e";
$icon-dropbox: "\e94f";
$icon-google-drive: "\e950";
$icon-vine-with-circle: "\e951";
$icon-vine: "\e952";
$icon-vk-alternitive: "\e953";
$icon-vk-with-circle: "\e954";
$icon-vk: "\e955";
$icon-facebook-with-circle: "\e956";
$icon-facebook: "\e957";
$icon-google-with-circle: "\e958";
$icon-google: "\e959";
$icon-instagram-with-circle: "\e95a";
$icon-instagram: "\e95b";
$icon-twitter-with-circle: "\e95c";
$icon-twitter: "\e95d";
$icon-youtube-with-circle: "\e95e";
$icon-youtube: "\e95f";
