@import '../../styles/foundation/settings.scss';

$icon-color: $medium-gray;
$icon-hover-color: $primary-color;




// Medium screens
@media only screen and (min-width: 40.063em) {

} /* min-width 641px, medium screens */

// Large screens
@media only screen and (min-width: 64.063em) {


} /* min-width 1025px, large screens */


// Small screens
@media only screen and (max-width: 40em) {


} /* max-width 640px, mobile-only styles, use when QAing mobile issues */
