@import '../../styles/foundation/settings.scss';

$icon-color: $medium-gray;
$icon-hover-color: $primary-color;


.toggles {
    font-size: 1.3em;
    &>div {
        margin: 15px 0;
    }
}

// header,footer {
//   position: absolute;
//   width: 100%;
//   transition: all 1s ease-in-out;
// }
// header {
//     transform: translateY(-1300);
// }
// footer {
//     transform: translateY(1300);
// }


// Medium screens
@media only screen and (min-width: 40.063em) {

} /* min-width 641px, medium screens */

// Large screens
@media only screen and (min-width: 64.063em) {

} /* min-width 1025px, large screens */


// Small screens
@media only screen and (max-width: 40em) {

} /* max-width 640px, mobile-only styles, use when QAing mobile issues */
