@import '../../styles/foundation/settings.scss';

$text-color: $dark-gray;

// footer CSS

#footer {
  padding: 1rem 3rem;
  text-align: center;
  color: $text-color;
  background-color:$charcoal;
  margin-top: 50px;
  width:100%;
  left: 0;
  bottom: 0;
  i {
    font-size: 35px;
    line-height: 65px;
    color:lighten( $text-color, 20% );
  }
}

#footer {
  h4 {
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top:1.8em;
  }
  p, a {
    font-weight: 300;
    font-size: 1em;
    color:lighten( $text-color, 20% );
  }
  a{
    &:hover {
      text-decoration: underline;
      color:lighten( $text-color, 70% );

    }
  }
}

@media only screen and (min-width: 40.063em) {
#footer {
  .columns:nth-child(n+2) {
    border-left: 1px solid darken( $text-color, 10% );
    min-height: 180px;
  }
 }
 h4 {
  margin-top:0em;
 }
}

#footer-links {
  list-style-type: none;
  li {
    margin-top: .5em;
  }
}
