@import '../../styles/foundation/settings.scss';

$text-color: $dark-gray;

section {

}
.hero {
  background-color: lighten($primary-color,50%);
  height:70px;
  position: relative;
  overflow: hidden;
  h1 {
    //line-height: 150px;
    position: absolute;
    font-size: 4.2em;
    font-weight: 600;
    color: $white;
    bottom: -0.5em;
    right:0;
    text-shadow: -4px -4px 15px lighten($primary-color,40%);
  }
}
