@import '../../styles/foundation/settings.scss';

$icon-color: $medium-gray;
$icon-hover-color: $primary-color;

//HourBar
.get-hours-button-container {
  text-align: right;
}


.showitem {
  .fonticon {
    padding:0;
  }
  .iconbutton {
    font-size: 2em;
    height: 70px;
    width: 70px;
    padding: 0
  }
  .icon {
    width:70px;
  }
  button {
     //width:70px !important;
    // height:70px;
    margin-left: 5px;
    .icon:before {
        color: $icon-color;
        line-height: 70px;
        transition: all 150ms ease-in-out;
    }
  }
  button:hover {
    .icon:before {
        color: $icon-hover-color;
    }
    .icon-trash:before {
        color: $alert-color;
    }
  }
}


// Medium screens
@media only screen and (min-width: 40.063em) {
  .actionbar div {
    float:left !important;
  }

} /* min-width 641px, medium screens */

// Large screens
@media only screen and (min-width: 64.063em) {
  .actionbar div {
    float:right !important;
  }

} /* min-width 1025px, large screens */


// Small screens
@media only screen and (max-width: 40em) {
  .showitem .icon {
      //font-size: 2em !important;
      //line-height: 1.2em !important;
      //padding: 16px !important;
  }
  .showitem {
    button {
      width: 65px !important;
  }
  .tag-details {
    padding-left:.5em;
  }
}

} /* max-width 640px, mobile-only styles, use when QAing mobile issues */
