@import '../../../styles/foundation/settings';

.form-item {
  &.required {
    label::after {
      content: ' *';
      color: $alert-color;
    }
  }
  &.error {
    input {
      border-color: $alert-color;
      box-shadow: none;
    }
  }
  .validation-message {
    color: $alert-color;
  }
}

body.direction-rtl .form-item .validation-message{
    text-align: left;
}
body.direction-ltr .form-item .validation-message{
    text-align: right;
}
