@import '../../styles/foundation/settings.scss';

$icon-color: $medium-gray;
$icon-hover-color: $primary-color;

.print-table  {
  margin-top:25px;
  ul {
    background-color: #eee;
    border:1px solid $medium-gray;
    padding:1em 1.5em;
  }
  .title {
    font-size:2em;
  }
  .size {
    color: $dark-gray;
  }
  .description {
    margin: 0.5em 0 2.5em 0;
    height: 2em;
  }
  .bullet.image {
    text-align: center;
  }
  .secondary-cta {
    text-align: center;
    margin: 30px 0 15px 0;
  }

  .cta {
    text-align: center;
    margin-bottom:15px;
  }
}


// Medium screens
@media only screen and (min-width: 40.063em) {

} /* min-width 641px, medium screens */

// Large screens
@media only screen and (min-width: 64.063em) {


} /* min-width 1025px, large screens */


// Small screens
@media only screen and (max-width: 40em) {


} /* max-width 640px, mobile-only styles, use when QAing mobile issues */
